// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	font-family: 'Avenir',sans-serif;
}

.card-content {
	text-align: center;
	font-weight: bold;
}

.card {
	margin-bottom: 20px;
}

.media-content {
	margin: 0 auto;
}

.title a:hover {
	text-decoration: none;
}

.panel-icon {
	text-decoration: none;
	margin: auto;
}

/*===================
    users/index
===================*/

.user-index-search {
	width: 198px;
}

input#q_name_cont.form-control {
	border-radius: 45px 0 0 45px;
}

.user-index-search-btn {
    position: absolute;
    top: 161px;
    left: 362px;
}

button.btn.btn-primary {
    background-color: tomato;
    border: solid 1px tomato;
    font-size: 16px;
	border-radius: 0 45px 45px 0;
}

.page-title {
	font-weight: bold;
}

.index-username a {
	color: black;
}

.index-username a:hover {
	text-decoration: none;
}

/*===================
     users/show
===================*/

.article-show {
	font-weight: bold;
	margin-left: 30px;
}

.article-show a {
	color: black;
}

.article-show a:hover {
	text-decoration: none;
}

a.btn.btn-warning {
	background-color: tomato;
	border: solid 1px tomato;
	border-radius: 45px;
	font-weight: bold;
	color: white;
}

img.attachment.article_image.image.img-fluid {
	border-radius: 5px;
}


/*===================
     users/edit
===================*/

input.btn.btn-success.btn-block {
	background-color: tomato;
	border: solid 1px tomato;
	border-radius: 45px;
	font-weight: bold;
	margin-bottom: 30px;
}


/*===================
   users/following
===================*/

.following-user-name {
	font-weight: bold;
	font-size: 20px;
}

.following-user-name a {
	color: black;
	margin-left: 30px;
	justify-content: center;
}

.following-user-name a:hover {
	text-decoration: none;
}

/*===================
   users/follower
===================*/

.follower-user-name {
	font-weight: bold;
	font-size: 20px;
}

.follower-user-name a {
	color: black;
	margin-left: 30px;
}

.follower-user-name a:hover {
	text-decoration: none;
}


