


<div class="container mt-5">
	<div class="row">
		<h3 class="header">
			<i class="far fa-user"></i><%= @user.name %>さんのフォロワー
		</h3>
	</div>
	<div class="row mt-5">
		<% @followers.each do |follower| %>
		<div class="col-3 mx-auto" style="border-top: solid 1px #E8E8E8; border-bottom: solid 1px #E8E8E8;">
			<table>
				<tbody>
					<tr>
						<td><%= attachment_image_tag follower, :profile_image, :fill, 75, 75, fallback: "no-image.png", format:'png', class:"img-fluid mx-auto" %></td>
						<td><%= follower.name %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>