
<div class="about-header">
	<%= image_tag "dokoiku-background.png", class: "about_image" %>
	<p>あなたのお出かけプランをdokoikuでシェアしてみませんか？</p>
	<p class="about-text-1">
	　　あなたのプランが明日誰かのプランになるかもしれません。
	</p>
	<p class="about-text-2">
	   誰かのプランが明日あなたのプランになるかもしれません。
	</p>
</div>