
<div class="about-header">
	<%= image_tag "dokoiku-background.png", class: "about_image" %>
	<p>
		"いつも誰かの笑顔のために"
	</p>

	<p class="about-text-1">
		これは私が大切にしている言葉で、dokoikuの礎になっています。
	</p>

	<p class="about-text-2">
		あなたのお出かけプランをdokoikuでシェアしてみませんか？
	</p>

	<p class="about-text-3">
		あなたのプランが明日誰かのプランになるかもしれません。
	</p>

	<p class="about-text-4">
		誰かのプランが明日あなたのプランになるかもしれません。
	</p>

	<p class="about-text-5">
		dokoikuでは休日に行ってみたい！と思えるプランが見つかります。
	</p>
</div>

<div class="login-link">
	<p><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></p>
</div>