

<div class="container mt-5">
	<div class="row">
		<div class="col-6 mx-auto">
			<div class="top-button">
				<%= link_to "ログイン", new_user_session_path, class: "btn btn-warning btn-block" %>
				<%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-block" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<img src="assets/mt_fuji.png" alt="写真" width="100%" height="400">
		</div>
	</div>
</div>
