// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================
   articles/index
===================*/

#articles-index {

    .articles-index-title {
        color: #00214d;
        font-weight: bold;
        margin-bottom: 30px;
    }


    .index-title {
        color: #00214d;
        text-align: center;
        border-bottom: solid 3px #00214d;
    }

    .index-body {
        font-weight: bold;
        line-height: 125px;
        text-align: center;
        border-top: solid 3px #00214d;
    }

    .article-title a {
        color: black;
    }

    .article-title a:hover {
        text-decoration: none;
    }

    .article-username a {
        color: black;
    }

    .article-username a:hover {
        text-decoration: none;
    }
}



/*===================
    articles/show
===================*/

.comment {
	font-weight: bold;
}

.comment-index {
	font-weight: bold;
}

.datetime {
	font-size: 5px;
}

.card-header a {
	color: black;
}

.card-header a:hover {
	text-decoration: none;
}

.comment-user-profile-image img {
	border-radius: 50%;
}

.fa.fa-trash:before {
	color: red;
}

input.btn.btn-info.btn-block {
	background-color: tomato;
    border: solid 1px tomato;
    border-radius: 45px;
    font-weight: bold;
}

a#view_more.btn.btn-primary {
    background-color: tomato;
    border: solid 1px tomato;
    border-radius: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

button.slick-prev.slick-arrow::before {
  content: "";
}

button.slick-next.slick-arrow::before {
  content: "";
}

.article-planer a {
  color: tomato;
  font-weight: bold;
}

.article-planer a:hover {
  text-decoration: none;
}

a.btn.btn-success {
  border-radius: 45px;
}

a.btn.btn-danger {
  border-radius: 45px;
}

/*===================
 articles/show/slick
===================*/

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 25px !important;
      color: tomato !important;
      margin-top: 10px !important;
    }
  }
}


/*===================
    articles/new
===================*/

#cover-image {
	cursor: pointer;
}

.article-image {
    border-radius: 5px;
	filter: brightness(50%);
	height: 220px;
	width: 100%;
}

.relative {
	position: relative;

	i {
	   position: absolute;
	   top: 43%;
	   left: 44%;
	   color: white;
	   font-size: 55px;
	}
}

#article_article_images_images {
	display: none;
	}