// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================
   articles/index
===================*/

#articles-index {

    .articles-index-title {
        color: #00214d;
        font-weight: bold;
        margin-bottom: 30px;
    }


    .index-title {
        color: #00214d;
        text-align: center;
    }

    .index-body {
        font-weight: bold;
        line-height: 125px;
        text-align: center;
    }

    th {
        border-top: solid 3px #00214d;
        border-bottom: solid 3px #00214d;
    }

    .article-title a {
        color: black;
    }

    .article-title a:hover {
        text-decoration: none;
    }

    .article-username a {
        color: black;
    }

    .article-username a:hover {
        text-decoration: none;
    }

    img.attachment.article_image.image {
        border: solid 3px #00214d;
    }

    i.far.fa-thumbs-up::before {
        color: tomato;
    }

    i.fas.fa-thumbs-up::before {
        color: tomato;
    }
}



/*===================
    articles/show
===================*/

#articles-show {

    .card {
      border: solid 3px #00214d;
    }

    .card-title {
      font-weight: bold;
      border-bottom: dashed 3px #00214d;
    }

    div.card-text {
      border-bottom: dashed 3px #00214d;
    }

    i.far.fa-thumbs-up::before {
      color: tomato;
    }

    i.fas.fa-thumbs-up::before {
      color: tomato;
    }

    a.btn.btn-success {
      border: solid 3px #00214d;
      border-radius: 50px;
      background-color: #fde24f;
      color: #00214d;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 15px;
      transition: .3s;
    }

    a.btn.btn-success:hover {
      transform: translateY(-4px);
    }

    a.btn.btn-danger {
      border: solid 3px #00214d;
      border-radius: 50px;
      background-color: #fa5246;
      color: #00214d;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 15px;
      transition: .3s;
    }

    a.btn.btn-danger:hover {
      transform: translateY(-4px);
    }

    .comment {
      font-weight: bold;
    }

    .comment-index {
      font-weight: bold;
    }

    .datetime {
      font-size: 5px;
    }

    .card-header a {
      color: black;
    }

    .card-header a:hover {
      text-decoration: underline;
    }

    .comment-user-profile-image img {
      border-radius: 50%;
    }

    .fa.fa-trash:before {
      color: red;
    }

    input.btn.btn-info.btn-block {
      background-color: tomato;
      border: solid 3px #00214d;
      border-radius: 45px;
      font-weight: bold;
    }

    a#view_more.btn.btn-primary {
      background-color: tomato;
      border: solid 1px tomato;
      border-radius: 45px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    button.slick-prev.slick-arrow::before {
      content: "";
    }

    button.slick-next.slick-arrow::before {
      content: "";
    }

    .article-planer a {
      color: tomato;
      font-weight: bold;
    }

    .article-planer a:hover {
      text-decoration: none;
    }

    textarea#comment_content.form-control {
      border: solid 3px #00214d;
    }

}


/*===================
 articles/show/slick
===================*/

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 25px !important;
      color: tomato !important;
      margin-top: 10px !important;
    }
  }
}


/*===================
    articles/new
===================*/

#cover-image {
	cursor: pointer;
}

.article-image {
    border-radius: 5px;
	filter: brightness(50%);
	height: 220px;
	width: 100%;
}

.relative {
	position: relative;

	i {
	   position: absolute;
	   top: 43%;
	   left: 44%;
	   color: white;
	   font-size: 55px;
	}
}

#article_article_images_images {
	display: none;
	}