// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================
   articles/index
===================*/

.index-title {
	text-align: center;
}

.index-body {
    font-weight: bold;
    line-height: 125px;
	text-align: center;
}

.article-title a {
	color: black;
}

.article-title a:hover {
	text-decoration: none;
}

.article-username a {
	color: black;
}

.article-username a:hover {
	text-decoration: none;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;                     /*枠線をなくす*/
  color: black;                   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background-color: tomato;                /*背景の色を変える*/
  border-radius: 50%;              /*角を丸くする*/
}

.page-item.active .page-link {
	background-color: tomato;                /*背景の色を変える*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;              /*角を丸くする*/
}



/*===================
    articles/show
===================*/

.comment {
	font-weight: bold;
}

.comment-index {
	font-weight: bold;
}

.datetime {
	font-size: 5px;
}

.comment-user-profile-image img {
	border-radius: 50%;
}

/*===================
 articles/show/slick
===================*/

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "●" !important;
      font-size: 25px !important;
      color: tomato !important;
      margin-top: 10px !important;
    }
  }
}


/*===================
    articles/new
===================*/

#cover-image {
	cursor: pointer;
}

.article-image {
    border-radius: 5px;
	filter: brightness(50%);
	height: 250px;
	width: 100%;
}

.relative {
	position: relative;

	i {
	   position: absolute;
	   top: 43%;
	   left: 44%;
	   color: white;
	   font-size: 55px;
	}
}

#article_article_images_images {
	display: none;
	}