// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*===================
  categories / show
===================*/

#categories-show {

    h2.categories-show-title {
        color: #00214d;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .card {
        border: solid 4px #00214d;
    }

    div.categories-show-article-title {
        border-top: solid 3px #00214d;
        border-bottom: dashed 3px #00214d;
        font-weight: bold;
        text-align: center;
    }

    .category-show-body {
        font-weight: bold;
        text-align: center;
    }
}


/*===================
 categories / index
===================*/

input.btn.btn-primary.btn-block {
    background-color: tomato;
    border: solid 1px tomato;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}