// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn {
  margin-bottom: 15px;
}

.category-title {
	position: relative;    /*相対配置*/
}

.category-title img {
	opacity: 0.6;
}

.category-title p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 16%;
}

.category-title1 {
	position: relative;    /*相対配置*/
}

.category-title1 img {
	opacity: 0.6;
	display: flex;
}

.category-title1 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 7%;
}

.category-title2 {
	position: relative;    /*相対配置*/
}

.category-title2 img {
	opacity: 0.6;
}

.category-title2 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 7%;
}

.category-title3 {
	position: relative;    /*相対配置*/
}

.category-title3 img {
	opacity: 0.6;
}

.category-title3 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 13%;
}

.category-title4 {
	position: relative;    /*相対配置*/
}

.category-title4 img {
	opacity: 0.6;
}

.category-title4 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 10%;
}

.category-title5 {
	position: relative;    /*相対配置*/
}

.category-title5 img {
	opacity: 0.6;
}

.category-title5 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 10%;
}

.category-title6 {
	position: relative;    /*相対配置*/
}

.category-title6 img {
	opacity: 0.6;
}

.category-title6 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 13%;
}

.category-title7 {
	position: relative;    /*相対配置*/
}

.category-title7 img {
	opacity: 0.6;
}

.category-title7 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 10%;
}

.category-title8 {
	position: relative;    /*相対配置*/
}

.category-title8 img {
	opacity: 0.6;
}

.category-title8 p {
  position: absolute;      /*絶対配置*/
  color: black;
  font-weight: bold;
  top: 40%;
  left: 10%;
}








