// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================
  top / search部分
===================*/

.slider1 {
    height: 380px;
    width: 100%;
    filter: brightness(50%);

  .top-search-bg {
    height: 350px;
  }
}

.relative {
    position: relative;

  h2 {
    position: absolute;
    top: 30%;
    left: 30%;
    font-weight: bold;
    color: white;

  p {
    position: absolute;
    top: 50px;
    left: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
  }
  }

  .top-plan-seach {
    position: absolute;
    top: 60%;
    left: 29%;
    width: 610px;
  }

  button.btn.btn-primary {
    border-radius: 0 5px 5px 0;
  }
}

input#q_title_cont.form-control {
  width: 300px;
}




/*===================
  top / col-3(左側)
===================*/

.col-6.category {
  padding-left: 20px;
  padding-right: 13px;
}

.category-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.category-title {
  border-radius: 10px;
	position: relative;    /*相対配置*/
  border: solid 2px tomato;
}

.category-title img {
  border-radius: 8px;
	filter: brightness(50%);
  margin-right: 30px;
  width: 100%;
}

.category-title p {
  position: absolute;
  color: white;
  font-size: 13px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

/*===================
  top / col-6(真ん中)
===================*/

.new-articles {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.card-body {
  border-radius: 5px;
}

.card-title img {
  border-radius: 50px;
}

.top-user-name {
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

.top-article-title {
  position: relative;
}

.card-plan-image {
  margin-left: 100px;
}

.card-plan-image img {
  border: solid 2px tomato;
  border-radius: 8px;
}

.relative {
  position: relative;

  p {
    position: absolute;
    top: 230px;
    left: 16px;
    font-weight: bold;
    color: white;
    font-size: 20px;
  }

  .new-articles-body {
    position: absolute;
    top: 270px;
    left: 20px;
    color: white;
  }
}

/*===================
  top / col-3(右側)
===================*/

.table table-hover {
  margin-bottom: 0px;
}

.article-ranks {
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.ranks-body-category {
  font-size: 12px;
  margin-bottom: 35px;
}

.ranks-body-category i {
  color: tomato;
}

.ranks-body-article-body {
  font-size: 12px;
}

.ranks-body-article-body i {
  color: tomato;
}











