// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	font-family: 'Avenir',sans-serif;
}

.card-content {
	text-align: center;
	font-weight: bold;
}

.card {
	margin-bottom: 20px;
}

.media-content {
	margin: 0 auto;
}

.title a:hover {
	text-decoration: none;
}

.panel-icon {
	text-decoration: none;
	margin: auto;
}

/*===================
    users/index
===================*/

.page-title {
	font-weight: bold;
}

.index-username a {
	color: black;
}

.index-username a:hover {
	text-decoration: none;
}

/*===================
     users/show
===================*/

.article-show {
	font-weight: bold;
	margin-left: 35px;
}

.article-show a {
	color: black;
}

.article-show a:hover {
	text-decoration: none;
}


/*===================
   users/following
===================*/

.following-user-name a {
	color: black;
	justify-content: center;
}

.following-user-name a:hover {
	text-decoration: none;
}

/*===================
   users/follower
===================*/

.follower-user-name a {
	color: black;
}

.follower-user-name a:hover {
	text-decoration: none;
}


