// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	font-family: 'Avenir',sans-serif;
}

.card-content {
	text-align: center;
	font-weight: bold;
}

.card {
	margin-bottom: 20px;
}

.media-content {
	margin: 0 auto;
}

.title a:hover {
	text-decoration: none;
}

.panel-icon {
	text-decoration: none;
	margin: auto;
}


/*===================
users/show
===================*/

.userheader-name small {
	display: inline;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 16px;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    vertical-align: middle;
}

/*===================
users/following
===================*/

.following-user-name a {
	color: black;
	justify-content: center;
}

.following-user-name a:hover {
	text-decoration: none;
}




