// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	font-family: 'Avenir',sans-serif;
}

.card-content {
	text-align: center;
	font-weight: bold;
}

.card {
	margin-bottom: 20px;
}

.media-content {
	margin: 0 auto;
}

.title a:hover {
	text-decoration: none;
}

.panel-icon {
	text-decoration: none;
	margin: auto;
}

/*===================
    users/index
===================*/

#users-index {

	.user-index-search {
	    width: 198px;
    }

    input#q_name_cont.form-control {
        border: solid 4px #00214d;
	    border-radius: 45px 0 0 45px;
    }

    .user-index-search-btn {
        position: absolute;
        top: 161px;
        left: 362px;
    }

    button.btn.btn-primary {
	    background-color: tomato;
	    border: solid 4px #00214d;
	    border-radius: 0 45px 45px 0;
	    font-size: 12px;
    }

    .users-index-title {
	    font-weight: bold;
    }

    div.card {
        border: solid 3px #00214d;
    }

    .index-user-name {
        border-bottom: dashed 3px #00214d;
    }

    .index-user-name a {
        color: #00214d;
        font-size: 20px;
    }

    .index-user-name a:hover {
	    text-decoration: none;
    }

    div.users-index-article-count {
        border-bottom: dashed 3px #00214d;
        margin-top: 20px;
    }

    a.btn.btn-primary {
        background-color: tomato;
        border: solid 3px #00214d;
        border-radius: 50px;
        font-weight: bold;
    }

    a.btn.btn-outline-primary {
        border: solid 3px #00214d;
        border-radius: 50px;
        color: #00214d;
        font-weight: bold;
    }

    a.btn.btn-outline-primary a:hover {
        background-color: white;
    }
}

/*===================
 users / pagination
===================*/

    ul.pagination {
      margin-top: 35px;
      justify-content: center;
    }

/*===================
     users/show
===================*/

#users-show {

    h2.page-title {
        color: #00214d;
        font-weight: bold;
    }

    div.card {
        border: solid 3px #00214d;
        border-radius: 3px;
    }

    div.card-body {
        text-align: center;
    }

    img.attachment.user.profile_image.img-fluid.mx-auto {
        border: solid 3px #00214d;
        border-radius: 5px;
    }

    div.users-show-user-name {
        font-weight: bold;
        border-bottom: dashed 3px #00214d;
        margin-bottom: 10px;
    }

    div.users-show-follow {
        border-bottom: dashed 3px #00214d;
        margin-bottom: 10px;
    }

    p.card-text {
        border-bottom: dashed 3px #00214d;
    }

	.article-show-title {
	    font-weight: bold;
	    text-align: center;
	    border-top: dashed 3px #00214d;
        margin-top: 20px;
        line-height: 50px;
    }

    .article-show-title a {
        color: #00214d;
    }

    a.btn.btn-warning {
		background-color: #fde24f;
		border: solid 3px #00214d;
		border-radius: 45px;
		font-weight: bold;
		color: #00214d;
		transition: .3s;
    }

    a.btn.btn-warning:hover {
        transform: translateY(-4px);
    }

    img.attachment.article_image.image.img-fluid {
        border: solid 3px #00214d;
	    border-radius: 5px;
    }
}


/*===================
     users/edit
===================*/

#users-edit {

    h2.users-edit-title {
        color: #00214d;
        font-weight: bold;
        margin-bottom: 30px;
    }

    label {
        color: #00214d;
        font-weight: bold;
    }

    input#user_name.form-control {
        border: solid 3px #00214d;
    }

    input#user_email.form-control {
        border: solid 3px #00214d;
    }

    textarea#user_profile.form-control {
        border: solid 3px #00214d;
    }

    input#user_profile_image.form-control {
        border: solid 3px #00214d;
    }

    input.btn.btn-success.btn-block {
        background-color: #fde24f;
        border: solid 3px #00214d;
        border-radius: 45px;
        color: #00214d;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


/*===================
   users/following
===================*/



/*===================
   users/follower
===================*/

#users-follower {

    h2.follower-index-title {
        color: #00214d;
        font-weight: bold;
        margin-bottom: 30px;
    }

    th {
        text-align: center;
        border-top: solid 3px #00214d;
        border-bottom: solid 3px #00214d;
    }

    img.attachment.user.profile_image.img-fluid {
        text-align: center;
    }

    td {
        text-align: center;
        border-top: solid 3px #00214d;
        border-bottom: solid 3px #00214d;
    }

    td.follower-user-name  {
        font-weight: bold;
        line-height: 100px;
    }

    td.follower-user-name a {
        color: #00214d;
    }
}




